body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  font-weight: 400;
  line-height: 1.563;
  color: var(--color);
}

.menu {
  display: flex;
  justify-content: space-between;
}

.topnav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  object-fit: cover;
}
.category_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
